@import "mixin.scss";

@import "variables.scss";

.footer {
  padding: 100px 0 50px;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    right: -400px;
    width: 900px;
    top: 0;
  }

  &__container {
    @include flex($align-items: flex-start);
  }

  &__logo-block {
    width: 40%;
    margin-right: 30px;
    box-sizing: border-box;
  }
  &__logo-title {
    color: $secondary-color;
    font-family: $font-family;
    font-size: $font-size-subtitle;
    font-weight: normal;
    padding-bottom: 56px;

    span {
      background: $linear-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $font-family;
      font-size: $font-size-logo;
      font-weight: bold;
      line-height: 58px;
    }
  }

  &__logo-text {
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size-text;
    line-height: 28px;
  }

  &__title {
    color: $secondary-color;
    font-family: $font-family;
    font-size: $font-size-basic;
    padding-bottom: 50px;
  }

  &__text {
    color: $secondary-color;
    font-family: $font-family;
    font-size: $font-size-text;
    line-height: 26px;
  }

  &__twitter {
    width: 30%;
    margin-right: 45px;
    box-sizing: border-box;

    &-content {
      padding-bottom: 35px;
    }

    &-ui {
      color: $color-raspberry;
      font-family: $font-family;
      font-size: $font-size-medium;
      font-weight: bold;
    }
  }

  &__contacts {
    width: 30%;

    &-content {
      color: $secondary-color;
      font-family: $font-family;
      font-size: $font-size-small;
      line-height: 35px;
      padding: 30px 30px 40px;
    }

    &-email {
      position: relative;

      &:before {
        content: "";
        width: 20px;
        height: 100%;
        position: absolute;
        background: url("../imgs/LetterIcon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 7px;
        left: -30px;
      }
    }

    &-phone {
      position: relative;

      &:before {
        content: "";
        width: 20px;
        height: 100%;
        position: absolute;
        background: url("../imgs/PhoneIcon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 7px;
        left: -30px;
      }
    }

    &-links {
      @include flex($justify-content: space-between);
      width: 100px;
    }

    &-social-link {
      width: 20px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__date {
    background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family;
    font-size: $font-size-text;
    text-align: center;
    padding-top: 100px;
  }
}
