@import "mixin.scss";

@import "variables.scss";

.header {
  @include flex($justify-content: space-between);
  position: fixed;
  z-index: 10;
  top: 40px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;

  &__logo {
    width: 100px;
  }

  &__nav {
    @include flex($justify-content: space-between);
    list-style-type: none;
    width: 600px;

    &-link {
      text-decoration: none;
      color: $primary-color;
      letter-spacing: 1px;
      font-family: $font-family;
      font-size: $font-size-medium;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__social-links {
    @include flex($justify-content: space-between);
    width: 80px;
  }

  &__social-link {
    width: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
