@import "mixin.scss";

@import "variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 40px;
  width: 100%;

  &__logo {
    padding: 0 200px 0 50px;
    width: 150px;
  }

  &__nav {
    display: flex;
    list-style-type: none;

    &-item {
      margin-right: 40px;
    }

    &-link {
      text-decoration: none;
      color: $primary-color;
      letter-spacing: 1px;
      font-family: $font-family;
      font-size: $font-size-medium;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__social-links {
    padding: 0 100px;
    cursor: pointer;
    width: 100px;

    &:hover {
      opacity: 0.8;
    }
  }
}
