@import "mixin.scss";

@import "variables.scss";

.home {
  width: 100%;
  min-height: 680px;
  height: 100vh;
  background: url(../imgs/HomeBg.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex();

  &__layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $secondaty-color;
    opacity: 0.7;
  }

  &__content {
    position: absolute;
    text-align: center;
  }

  &__subtitle {
    color: $primary-color;
    font-family: $font-family;
    font-size: $font-size-subtitle;
  }

  &__title {
    color: $primary-color;
    font-family: $font-family;
    font-size: $font-size-title;
    line-height: 60px;
    padding: 50px 0 80px;
  }

  &__btn {
    background: $linear-gradient;
    padding: 20px 50px;
    color: $primary-color;
    font-family: $font-family;
    font-size: $font-size-medium;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
