@import "mixin.scss";

@import "variables.scss";

.process {
  @include flex();

  &__item {
    width: 30%;
    padding: 100px 30px 100px 60px;
    box-sizing: border-box;
    position: relative;

    &:hover {
      background: $linear-gradient;
      padding: 60px 30px 60px 60px;

      .process__item-number {
        font-size: $font-size-title;
        background: $primary-color;
        -webkit-background-clip: text;
        opacity: 1;
        font-family: $font-family;
        position: static;
      }

      .process__item-title {
        color: $primary-color;
      }

      .process__item-text {
        color: $primary-color;
      }
    }

    &-number {
      font-size: $font-size-number;
      font-family: $font-family;
      position: absolute;
      z-index: -1;
      background: $linear-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.6;
    }

    &-title {
      font-size: $font-size-basic;
      color: $additional-color;
      font-family: $font-family;
    }

    &-text {
      font-size: $font-size-text;
      color: $color-text;
      font-family: $font-family-secondary;
      padding-top: 35px;
    }
  }
}
