$primary-color: #fff;
$secondaty-color: #000;
$additional-color: #5c5c5c;
$color-text: #7b7b7b;
$font-family: "Poppins", sans-serif;
$font-family-secondary: "Playfair Display", serif;
$font-size-subtitle: 25px;
$font-size-title: 50px;
$font-size-huge: 40px;
$font-size-large: 35px;
$font-size-basic: 20px;
$font-size-number: 120px;
$font-size-text: 14px;
$font-size-medium: 16px;
$linear-gradient: linear-gradient(
  45deg,
  #fd3fb3 0%,
  #fd3f81 30%,
  #fd3e4f 79%,
  #fd3e4f 100%
);
